@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --color--main: #f1f1f1;
  --color-dark: #495057;
  --color-darkest: #343a40;
  --color-medium: #ced4da;
  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

/* PROGRESSBAR */
/* ............................................................................................................................................................... */

progress {
  -webkit-appearance: none;
  height: 15px;
  width: 100%;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.progress {
  width: 40%;
}

.progressStats {
  display: flex;
  justify-content: space-between;
}

/* ............................................................................................................................................................... */

body {
  text-align: center;
  background-color: var(--color--main);
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
}

.App {
}

/* LOADING AND ERROR COMPONENT */
/* ............................................................................................................................................................... */
.messagesContainer {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #3e3e42;
}

.messagesBox {
}

.loadingHeader {
  display: flex;
  justify-content: center;
  animation: letters 1.5s ease-in-out infinite;
}

@keyframes letters {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(10px);
  }
}

.loadingBubbles {
  display: flex;
}

.loadingBubbles > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: scaling 2.5s ease-in-out infinite;
  background-color: #3e3e42;
  margin: 5px;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    opacity: 0.2;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  40% {
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.loadingBubbles > div:nth-of-type(1) {
  animation-delay: 0.2s;
}

.loadingBubbles > div:nth-of-type(2) {
  animation-delay: 0.4s;
}

.loadingBubbles > div:nth-of-type(3) {
  animation-delay: 0.6s;
}
.loadingBubbles > div:nth-of-type(4) {
  animation-delay: 0.8s;
}
.loadingBubbles > div:nth-of-type(5) {
  animation-delay: 1s;
}

/* ............................................................................................................................................................... */

/* HEADER */
/* ............................................................................................................................................................... */
.header {
  display: flex;
  align-items: start;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
}

.logo {
  width: 8rem;
}

.header > * {
  padding: 1%;
}

.headerText {
  margin: 0;
}
/* ............................................................................................................................................................... */

/* STARTING SCREEN */
/* ............................................................................................................................................................... */
.startScreen {
}
/* ............................................................................................................................................................... */

/* BUTTON */
/* ............................................................................................................................................................... */
.button {
  background-color: var(--color-medium);
  border-radius: 50px;
  border: 2px solid var(--color-medium);
  padding: 1rem 2.3em;
  transition: 0.5s;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: start;
}

.button:hover {
  background-color: var(--color--main);
  cursor: pointer;
}

.questionBtn {
  background-color: var(--color-medium);
  border-radius: 50px;
  font-size: 2rem;
  border: 2px solid var(--color-medium);
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: start;
  padding: 1rem 2.3rem;
  transition: 0.3s;
}

.questionBtn.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}

.questionBtn.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-darkest);
}

.questionBtn[disabled]:hover {
  cursor: not-allowed;
}

.questionBtn:not([disabled]):hover {
  transform: translateX(0.8rem);
  background-color: var(--color--main);
  cursor: pointer;
}

.answer {
  transform: translateX(1.5rem);
}
/* ............................................................................................................................................................... */

/* QUESTION */
/* ............................................................................................................................................................... */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
}

.questionsContainer {
  width: 30%;
}

.question {
  margin-top: 0;
}

/* ............................................................................................................................................................... */

/* FOOTER */
/* ............................................................................................................................................................... */

.footer {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
/* ............................................................................................................................................................... */

/* TIMER */
/* ............................................................................................................................................................... */

.timer {
  background-color: var(--color--main);
  border-radius: 50px;
  font-size: 2rem;
  border: 2px solid var(--color-medium);
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  padding: 1rem 2.3rem;
}

/* ............................................................................................................................................................... */
